@media(max-width: 1160px){
	.single-product__inner {
    display: block;
}
.single-product__box {
	margin-right: 0;
	max-width: 100%;
	
}
.autor-btn {
justify-content: center;
a{
	margin: 0px 5px;
}
}
.breadcrumbs {
	overflow: hidden;
	width: 1500px;
}
}
@media(max-width: 1150px) {
	.news__inner-items {
		flex-wrap: wrap;

		.product__item {
			max-width: 49%;
			margin-bottom: 30px;
			width: 100%;
		}
	}

	.feedback__item {
		max-width: 49%;
		width: 100%;
	}

	.reason__item {
		max-width: 49%;

	}

	.start__sell,
	.start__shop {
		padding: 98px 40px;
	}
	.contacts__item {  
		max-width: 32%;  
		padding: 50px 30px 40px;
}
.more-items__box{
		flex-wrap: wrap;
}
.more__item.product__item {

	flex-basis: calc(50% - 30px);
	max-width: 100%;
	margin-bottom: 30px;
}
.tab__box-img img {
	height: 100%;
	width: 100%;
}
.tab__box-img {
	height: 1000px;
}
}

@media(max-width: 1130px) {
	.category-page__item {		
		flex-basis: calc(50% - 15px);
		max-width: 100%;
		margin-left: 15px;
		margin-bottom: 15px;
	}
	.favorites__item {		
		flex-basis: calc(50% - 15px);
		max-width: 100%;
		margin-left: 15px;
		margin-bottom: 15px;
	}
	.category-page__content-inner {   
    margin-left: -15px;
}
	.new-product__filter button {
		padding: 8px 8px;

	}
	.filter__style-form {
  display: none;
}
.plan__body{
	display: block;
}
.plan__item{
	max-width: 100%;
	margin-bottom: 15px;
}
.plan__item-list li {
	display: block;
	text-align: center;
	&::before{
		display: none;
	}
}

	
}

@media(max-width: 1040px) {
	.new-product__item {		
		flex-basis: calc(50% - 30px);
		max-width: 100%;		
	}
	.blog__inner {    
		flex-direction: column;
}
.blog__page {
	max-width: 100%;	
	padding-right: 0px;
	margin-bottom: 50px;
}
.blog__item-img {
	max-width: 100%;	
}
.blog__aside {

	max-width: 100%;
}
.blog__title {
	padding: 40px 25px 0;

}
.aside__banner {	
	height: 270px;	
	img{
		position: absolute;
		right: 0;
		left: 0;
		max-width: 360px;
		margin: 0 auto;
	}
}
	.footer__inner-top {
		background-color: #262b30;
		padding: 37px 0px;
	}

	.footer__contacts-title {
		margin: 0 auto;
	}

	.footer__contacts {
		max-width: 100%;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;

		&-contacts {
			li+li {
				margin-left: 30px;
			}
		}
	}

	.footer__inner-items {
		flex-wrap: wrap;
	}
	.contacts__title-box, .plan__title-box {    
    padding: 0px 50px;
}
.filter__style .select-items {
	margin-left: 0px;
}
.filter-by {
	margin-right: 6px;
}

}
@media(max-width: 980px){
	.howit-top__inner, .howit-center__inner, .howit-bottom__inner {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		
}
.howit__content {
	text-align: center;
	max-width: 100%;
		
}
.howit-center__inner {
	flex-direction: column-reverse;
}

}
@media(max-width: 960px) {
	.featured__items .featured__item-content--inner {
		padding: 20px 20px 0 20px;
		max-width: 400px;
	}
	.contacts__item {  
		max-width: 32%;  
		padding: 30px 15px 20px;
}
}

@media(max-width: 940px) {
	.header__bottom-search {
		max-width: 300px;
	}

	.bottom-menu__list li+li {
		margin-left: 15px;
	}

	.new-product__filter button+button {
		margin-left: 0px;
	}
	.category-page__item {		
		flex-basis: 100%;
		max-width: 100%;
		margin-left: 0px;
		margin-bottom: 15px;
	}
	.category-page__content-inner {   
    margin-left: 0;
}

}

@media(max-width: 880px) {
	.advantages-bottom__inner {
		flex-wrap: wrap;
	}

	.advantages-bottom__item {
		&+.advantages-bottom__item {
			margin-top: 30px;
			border-left: none;
		}

		max-width: 100%;
		width: 100%;
	}

	.feedback__inner-items {
		flex-wrap: wrap;
	}

	.feedback__item {
		&+.feedback__item {
			margin-top: 30px;
		}

		max-width: 100%;
		width: 100%;
	}

	.search__inner-form {
		padding: 40px 10px;
	}

	.search__inner-form {
		padding: 40px 10px;

	}

	.new-product__filter button {
		margin-bottom: 10px;
	}

	.start__inner {
		flex-wrap: wrap;
	}

	.start__sell,
	.start__shop {
		max-width: 100%;
		width: 100%;
	}
	.filter__style {
   flex-direction: column;
}
.filter__style .select-items {
	margin-left: 0;
	margin-top: 3px;
}
.favorites{
	.filter__style {
		flex-direction: row;
	
 }
}
.filter__coll{
	display: flex;
	flex-direction: column;
}
.new-product__filter {
display: flex;	
flex-direction: column;
}
}

@media(max-width: 805px) {
	.advantages__inner {
		flex-wrap: wrap;
	}

	.advantages__inner-item {
		max-width: 100%;
	}

	.featured__items .featured__item.product__item {
		flex-wrap: wrap;
	}

	.featured__items .featured__item-content--inner {

		max-width: 100%;
	}
	.contacts__form-input,
.contacts__form-textarea {
	max-width: 100%;
	margin-left: 10px;
	margin-right: 10px;
}
}

@media(max-width: 780px) {
	.new-product__item {		
		flex-basis: 100%;
		max-width: 100%;		
	}
	.share-previe__list {
    flex-wrap: wrap;
}
.previe__img {
	min-height: 430px;
	height: 430px;
}
.share-previe__link--big {
	width: 100%;
	margin-bottom: 15px;
	margin-right: 0;
	text-align: center;
}
	.header__bottom-menu {
		display: none;
	}

	.menu-burger {
		display: block;
	}

	.header__bottom-inner {
		justify-content: flex-end;
	}

	.header__notifications {
		margin: 0px 40px;
		margin-left: 10px;
	}

	.header__bottom-menu {
		&.active {
			display: block;
			background-color: #fff;
			position: absolute;
			top: 81px;
			left: -15px;
			right: -15px;
			padding: 0px 15px;
			z-index: 1;

			.bottom-menu__list-link {
				display: block;
				border-bottom: 1px solid #d9dfe5;

				a {
					display: block;
					text-align: center;
				}

				.bottom__submenu {
					padding-top: 18px;
				}
			}

			.bottom-menu__list li+li {
				margin: 0;
			}
		}

		.drop-down__menu {
			position: absolute;
			z-index: 2;
			width: 100%;
		}

		.drop-down__menu-inner {
			width: 100%;
		}
	}

	.header__join-register--on {
		display: block;
		margin-left: 15px;
		margin-right: 0px;
	}

	.bottom-menu__list-link.bottom-menu__list-link--nr.active {
		.bottom__submenu--big {
			display: none;
		}
	}
	.contacts__box {    
		flex-wrap: wrap;
		
}
.contacts__item {
	max-width: 100%;
	padding: 50px 30px 40px;
	margin-bottom: 30px;
}
.more__item.product__item {

	flex-basis: 100%;
	margin-bottom: 30px;
}

}



@media(max-width: 740px) {
	.category-page__inner {
    flex-direction: column;
}
.category-page__aside {
		max-width: 100%;
	margin-right: 0px;
}
	.footer__news {
		max-width: 100%;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}

	.footer__about,
	.footer__help {
		max-width: 50%;
		width: 100%;
		text-align: center;
	}

	.header__join--footer {
		display: block;
	}

	.header__join {
		display: none;
	}

	.news__inner-items {
		.product__item {
			max-width: 100%;
			width: 100%;
		}
	}

	.search__inner-form form button {
		padding: 20px 2px;
		max-width: 116px;
		width: 100%;
	}

	.search__inner-item .search__inner-categories .jq-selectbox__select {
		width: 154px;
		padding: 0 45px 0 5px;
	}

	.product__item {
		max-width: 100%;
	}

	.reason__item {
		max-width: 100%;

	}
	.favorites__item {		
		flex-basis: 100%;
		max-width: 100%;
		margin-left: 15px;
		margin-bottom: 15px;
	}
	.filter__text{
		display: none;
	}
	.favorites .filter__style {   
    width: 100%;
}
.tabs {	
	flex-direction: column;
}
.tab.active {
	border-top: 3px solid #0674ec;
	border-bottom: 3px solid #0674ec;
	
}
.blog__tabs.tabs{
	flex-direction: row;
	.tab.active {
		border: none;
		
	}
}
}

@media(max-width: 630px) {
	.statistic__inner {
		flex-wrap: wrap;
	}

	.statistic__item {
		max-width: 49%;
		width: 100%;
		margin: 15px 0;
	}
	.blog__item-img {    
    height: 340px;
}

}

@media(max-width: 590px) {
	.header__user {
		padding-left: 30px;
	}

	.header__notifications {
		display: none;

	}

	.header__notifications-cart {
		display: block;
	}

	.user-drop {
		display: block;
	}

	.header__notifications.active {
		display: flex;
		position: absolute;
		background-color: #eef1f3;
		height: 100px;
		right: 0+180px;
		padding-right: 30px;
		left: 0;
		justify-content: space-around;

	}

	.search__inner-item input {
		padding-left: 10px;
		padding-right: 161px;
	}

	.search__inner-title {
		font-size: 48px;
		line-height: 60px;

	}

	.search__inner-text {
		line-height: 39px;
		font-size: 18px;
		margin-top: 30px;
	}

	.section__title-btn {
		display: none;
	}

	.section__title {
		padding: 30px 15px;
	}

	.section__title-text {
		font-size: 26px;
	}
	.notifications__menu-inner {    
    position: fixed;
  
}
	.header__notifications-cart.active .notifications-cart__inner,
	.header__notifications-envelope.active .notifications__menu-inner,
	.header__notifications-alarm.active .notifications__menu-inner {   
    top: 61px;    
    left: 5px;   
}
.notification__menu::before {
display: none;
}
.contacts__title, .plan__title {
	font-size: 32px;
	
}
.contacts__text, .plan__text {
	font-size: 14px;
	line-height: 24px;
}
.contacts__title-box, .plan__title-box {
	padding: 0px 0px;
}
.howit__img {
	min-height: min-content;
}
.howit__title {
	font-size: 26px;
}
.howit__text {
	line-height: 29px;
font-size: 14px;
}
.filter__products{
	display: flex;
	flex-direction: column;
		button{
		text-align: left;
		&+button{
		margin-left: 0;
		margin-top: 20px;
		}
	}
}
.form__quest-login {
	display: block;
	line-height: 30px;
	
}
.tab__box-img {
	min-height: 600px;
	height: 600px;
}
}

@media(max-width: 510px) {
	.footer__contacts-contacts {
		li {
			display: block;
			text-align: left;

			&+li {
				margin-left: 0;
			}
		}
	}

	.join__inner {
		padding: 55px 0px;
		text-align: center;
	}

	.join__title {
		color: #fff;
		font-size: 30px;
	}

	.search__inner-form form button {
		padding: 10px 2px;
		max-width: 70px;
		width: 100%;
		font-size: 13px;
	}

	.search__inner-item .search__inner-categories .jq-selectbox__select {
		width: 94px;
		padding: 0;
	}

	.search__inner-item .search__inner-categories .jq-selectbox__trigger {
		top: 18px;
		right: 20px;
		width: 0px;

	}

	.jq-selectbox__select-text {

		font-size: 13px;
	}

	.search__inner-item input {
		padding-right: 100px;

		&::placeholder {
			font-size: 13px;
		}
	}

	.advantages__inner-item {
		padding: 20px 10px;
	}

	.inner-item-title {
		margin-top: 20px;
		margin-bottom: 15px;

	}
	.blog__autor{
		flex-wrap: wrap;
		div{
			width: 48%;
			&+div{
				margin-left: 0;
			}
		}
	}
	.previe__link {
 flex-direction: column;
}
.link-favorite{

	margin-top: 15px;
	
}
.product-link {
	margin-left: 0;
	margin-right: 0;

}
}

@media(max-width: 490px) {

.blog__name {
    font-size: 26px;    
}
.blog__title {
	padding: 25px 10px 0;
}
.blog__content {
	padding: 0px 10px;	
	line-height: 26px;	
}
	.header__logo {
		width: 125px;
		height: 30px;
	}

	.header__logo img {
		width: auto;
	}


	.feedback__item-autor {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 0px;
		margin-bottom: 21px;
		position: relative;

		&::after {
			display: none;
		}


	}

	.search__inner-title {
		font-size: 42px;
		line-height: 55px;
	}

	.search__inner-text {
		line-height: 31px;
		font-size: 18px;
		margin-top: 25px;
	}

	.search__inner-btn {
		margin-top: 30px;

		a {
			margin: 0;
			width: 60%;

			&+a {
				margin-top: 10px;
			}
		}
	}

	.product__item-content {
		padding: 15px;
	}

	.product__item-stats {
		padding: 20px 15px;
	}

	.start__title {
		margin: 18px 0px 19px;
		font-size: 33px;
	}

	.notifications-cart__menu {
		width: 311px;
	}

	.notifications-cart__item {
		padding: 25px 10px;

	}

	.page-404__img {
		min-height: min-content;
		margin-bottom: 20px;
	}

	.page-404__title {
		font-size: 24px;
	}
}
@media(max-width: 450px){
	.pagination__list li a {
    padding: 8px 16px;   
}
.form__title {
	padding: 30px 25px 20px;

}
.form__body {
	padding: 30px 25px 20px;

}
.tab__box-img {
	min-height: 400px;
	height: 400px;
}


}
@media(max-width: 420px) {
	.blog__item-img {
    height: 255px;
}
	.featured__items .featured__item-content--inner {
		padding: 10px 10px 0 15px;
	}

	.product__item .content__autor {
		padding: 10px 0px 10px;
	}

	.featured__items .content__category {
		padding: 20px 0px;
	}
	.filter__style .jq-selectbox {  
    width: 135px;
	}

.filter__style .jq-selectbox__select::before {
	position: absolute;
	content: '\e874';
	font-family: 'Linearicons-Free';
	font-size: 10px;
	color: #555;
	right: 5px;
	top: 0;
}

}

@media(max-width: 390px) {
	.pagination__list li:first-child
	 {
    margin-right: 0px;
}
.pagination__list li:last-child{
	margin-left: 0;
}
.pagination__list li+li {
	margin-left: 2px;
}

	.header__bottom-search {
		max-width: 233px;
	}

	.header__user {
		margin-left: 15px;
	}

	.header__user-info {
		display: none;
	}

	.header__notifications.active {
		right: 50px;
		padding-right: 30px;
		left: 0;

	}

	.news__inner-items {
		.stats-view {
			margin-left: 15px;
		}
	}

	.search__inner-form form button {

		max-width: 56px;
		width: 100%;

	}

	.search__inner-title {
		font-size: 37px;
		line-height: 42px;
	}

	.search__inner-btn a {
		width: 90%;
	}

	.featured__items .stats-like {
		margin: 0px 10px;
	}

	.product__item .content__text {
		line-height: 25px;

	}

	.featured__items .content__title {
		font-size: 21px;

	}

	.section__title-text {
		font-size: 20px;
	}
	.notification__menu {  
		width: 310px; 
	 }
		.blog__autor{
			flex-wrap: wrap;
			div{
				width: 100%;
			}
		}
		.plan__item {		
			padding: 0px 15px;
			padding-bottom: 30px;
	}
	.autor-btn {
		flex-direction: column-reverse;
		align-items: center;
}
.autor-btn a {
	margin: 5px 5px;
}
}



@media(max-width: 350px) {
	.footer__news-social li+li {
		margin-left: 3px;
	}

	.header__bottom-search {
		max-width: 233px;
	}

	.search__inner-item input {
		padding-left: 3px;

		&::placeholder {
			color: #fff;
		}
	}

	.product__item-stats .stats-price {
		padding: 6px 6px;
	}

	.product__item-stats .stats-like {
		padding-left: 16px;
		margin: 0 5px;
	}

	.product__item-stats .stats-cell {
		padding-left: 16px;
	}

	.featured__items .content__category {

		padding: 10px 0px;

		a {
			margin-bottom: 10px;

			&+a {
				margin: 0;
			}
		}
	}

	.featured__items .content__title {
		font-size: 19px;
	}

	.product__item .content__text {

		font-size: 14px;
	}

	.statistic__item {
		max-width: 100%;


	}
}