@media(max-width: 1150px) {
	.news__inner-items {
		flex-wrap: wrap;
		.product__item {
			max-width: 49%;
			margin-bottom: 30px;
			width: 100%;
		}
	}

.feedback__item {
max-width: 49%;
	 width: 100%;
}
.reason__item {
    max-width: 49%;
    
}
.start__sell, .start__shop {
    padding: 98px 40px;   
}
}
@media(max-width: 1130px){
	.product__item {
		max-width: 49%;		
	}
	.new-product__filter button {
				padding: 8px 8px;	
	
}
}
@media(max-width: 1040px) {
	.footer__inner-top {
		background-color: #262b30;
		padding: 37px 0px;
	}

	.footer__contacts-title {
		margin: 0 auto;
	}

	.footer__contacts {
		max-width: 100%;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;

		&-contacts {
			li+li {
				margin-left: 30px;
			}
		}
	}

	.footer__inner-items {
		flex-wrap: wrap;
	}
}
@media(max-width: 960px){
	.featured__items .featured__item-content--inner {		
		padding: 20px 20px 0 20px;
		max-width: 400px;		
	}
}

@media(max-width: 940px) {
	.header__bottom-search {
		max-width: 300px;
	}

	.bottom-menu__list li+li {
		margin-left: 15px;
	}
	.new-product__filter button+button {
		margin-left: 0px;
	}

}

@media(max-width: 880px) {
	.advantages-bottom__inner {
		flex-wrap: wrap;
	}

	.advantages-bottom__item {
		&+.advantages-bottom__item {
			margin-top: 30px;
			border-left: none;
		}

		max-width: 100%;
		width: 100%;
	}
	.feedback__inner-items{
		flex-wrap: wrap;
	}
	.feedback__item {
		&+.feedback__item{
			margin-top: 30px;
		}
		max-width: 100%;
			 width: 100%;
		}
		.search__inner-form {    
    padding: 40px 10px;    
}
.search__inner-form {  
    padding: 40px 10px;
   
}
.new-product__filter button {
    margin-bottom: 10px;
}
.start__inner {
    flex-wrap: wrap;
}
.start__sell, .start__shop {
	max-width: 100%; 
	width: 100%;
}
}
@media(max-width: 805px){
.advantages__inner {
   flex-wrap: wrap;
}
.advantages__inner-item {
    max-width: 100%;   
}
.featured__items .featured__item.product__item {   
    flex-wrap: wrap;
}
.featured__items .featured__item-content--inner {
    
    max-width: 100%;
}
}
@media(max-width: 780px) {

	.header__bottom-menu {
		display: none;
	}

	.menu-burger {
		display: block;
	}

	.header__bottom-inner {
		justify-content: flex-end;
	}

	.header__notifications {
		margin: 0px 40px;
		margin-left: 10px;
	}

	.header__bottom-menu {
		&.active {
			display: block;
			background-color: #fff;
			position: absolute;
			top: 81px;
			left: -15px;
			right: -15px;
			padding: 0px 15px;

			.bottom-menu__list-link {
				display: block;
				border-bottom: 1px solid #d9dfe5;

				a {
					display: block;
					text-align: center;
				}
			}

			.bottom-menu__list li+li {
				margin: 0;
			}
		}
	}
	.header__join-register--on {
		display: block;
		margin-left: 15px;
		margin-right: 0px;
	}
}



@media(max-width: 740px) {
	.footer__news {
		max-width: 100%;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}

	.footer__about,
	.footer__help {
		max-width: 50%;
		width: 100%;
		text-align: center;
	}

	.header__join--footer {
		display: block;
	}

	.header__join {
		display: none;
	}

	.news__inner-items {
		.product__item {
			max-width: 100%;
			width: 100%;
		}
	}
	.search__inner-form form button {	
		padding: 20px 2px;		
		max-width: 116px;
		width: 100%;		
	}
	.search__inner-item .search__inner-categories .jq-selectbox__select {		
		width: 154px;
		padding: 0 45px 0 5px;
	}
	.product__item {
		max-width: 100%;		
	}
	.reason__item {
		max-width: 100%;
		
	}
}
@media(max-width: 630px) {
	.statistic__inner {
	flex-wrap: wrap;
	}
		.statistic__item{
			max-width: 49%;
			width: 100%;
			margin: 15px 0;
		}
	
}
@media(max-width: 590px) {
	.header__user {
		padding-left: 30px;
	}

	.header__notifications {
		display: none;
		
	}
	.header__notifications-cart{
		display: block;
	}

	.user-drop {
		display: block;
	}

	.header__notifications.active {
		display: flex;
		position: absolute;
		background-color: #eef1f3;
		height: 100px;
		right: 0+180px;
		padding-right: 30px;
		left: 0;
		justify-content: space-around;

	}
	.search__inner-item input {		
		padding-left: 10px;
		padding-right: 161px;		
	}
	.search__inner-title {
		font-size: 48px;
		line-height: 60px;
		
	}
	.search__inner-text {
		line-height: 39px;
		font-size: 18px;		
		margin-top: 30px;
	}
	.section__title-btn {
		display: none;
	}
	.section__title {		
		padding: 30px 15px;		
	}
	.section__title-text {
		font-size: 26px;	
	}
}

@media(max-width: 510px) {
	.footer__contacts-contacts {
		li {
			display: block;
			text-align: left;

			&+li {
				margin-left: 0;
			}
		}
	}

	.join__inner {
		padding: 55px 0px;
		text-align: center;
	}

	.join__title {
		color: #fff;
		font-size: 30px;
	}
	.search__inner-form form button {
		padding: 10px 2px;
		max-width: 70px;
		width: 100%;
		font-size: 13px;
	}
	.search__inner-item .search__inner-categories .jq-selectbox__select {
		width: 94px;
		padding:0;
	}
	.search__inner-item .search__inner-categories .jq-selectbox__trigger {		
		top: 18px;
		right: 20px;
		width: 0px;
		
	}
	.jq-selectbox__select-text {
		
		font-size: 13px;	
	}
	
	.search__inner-item input {
	padding-right: 100px;
	&::placeholder{
		font-size: 13px;
	}
}
.advantages__inner-item {   
    padding: 20px 10px;    
}
.inner-item-title {
    margin-top: 20px;
    margin-bottom: 15px;
  
}
}

@media(max-width: 490px) {
	.header__logo {
		width: 125px;
		height: 30px;
	}

	.header__logo img {
		width: auto;
	}
	
	
	.feedback__item-autor {  
		display: flex;
	justify-content: center; 
    align-items: center;
    padding-right: 0px;
    margin-bottom: 21px;
		position: relative;		
			&::after{
				display: none;
			}
		
		
}
.search__inner-title {
    font-size: 42px;
    line-height: 55px;
}
.search__inner-text {
    line-height: 31px;
    font-size: 18px;
    margin-top: 25px;
}
.search__inner-btn {
    margin-top: 30px;
    a {		
		margin:0;
		width: 60%;
		&+a{
			margin-top: 10px;
		}
	}
}
.product__item-content {
    padding: 15px;
}
.product__item-stats {  
    padding: 20px 15px;   
}
.start__title {
    margin: 18px 0px 19px;
    font-size: 33px;
}
}

@media(max-width: 420px) {
	.featured__items .featured__item-content--inner {
		padding: 10px 10px 0 15px;		
	}
	.product__item .content__autor {	
		padding: 10px 0px 10px;
	}
	.featured__items .content__category {
		padding: 20px 0px;
	}
}

@media(max-width: 390px) {

	.header__bottom-search {
		max-width: 233px;
	}

	.header__user {
		margin-left: 15px;
	}

	.header__user-info {
		display: none;
	}

	.header__notifications.active {
		right: 50px;
		padding-right: 30px;
		left: 0;

	}
	.news__inner-items {	
		.stats-view {
			margin-left: 15px;
	}
	}
	.search__inner-form form button {
    
    max-width: 56px;
    width: 100%;
    
}
.search__inner-title {
    font-size: 37px;
    line-height: 42px;
}
.search__inner-btn a {    
    width: 90%;
}
.featured__items .stats-like {
    margin: 0px 10px;
}
.product__item .content__text {
    line-height: 25px;
    
}
.featured__items .content__title {
    font-size: 21px;
   
}
.section__title-text {
    font-size: 20px;
}
}



@media(max-width: 350px) {
	.footer__news-social li+li {
		margin-left: 3px;
	}

	.header__bottom-search {
		max-width: 233px;
	}
	.search__inner-item input {
		padding-left: 3px;
		&::placeholder{
			color:#fff;
		}
	}
	.product__item-stats .stats-price {
		padding: 6px 6px;		
	}
	.product__item-stats .stats-like {
		padding-left: 16px;		
		margin: 0 5px;
	}
	.product__item-stats .stats-cell {
		padding-left: 16px;		
	}
	.featured__items .content__category {
		
			padding: 10px 0px;
		
		a{
			margin-bottom: 10px;
			&+a{
				margin: 0;
			}
		}
	}
	.featured__items .content__title {
		font-size: 19px;
	}
	.product__item .content__text {
	
		font-size: 14px;
	}
	.statistic__item{
		max-width: 100%;
		
		
	}
}