@import 'global';
@import 'var';
@import 'fonts';
// start header--------------------------------------------
.header__top {
    background-color: #eef1f3;
    height: 100px;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }
}

.header__logo {
    margin-left: 7px;
    margin-right: auto;
    width: 200px;
    height: 50px;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }
}

.header__join {
    padding: 4px 17px;
    background-color: $blue;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.header__user {
    margin-left: 218px;
    display: flex;
    &-avatar {
        width: 50px;
        height: 50px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }
    &-info {
        margin-left: 20px;
        line-height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.user-info__name {
    font-size: 16px;
    color: #333333;
}

.user-info__balance {
    font-size: 15px;
    color: #0674ec;
}

.header__bottom-inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-menu__list {
    & li+li {
        margin-left: 32px;
    }
    a {
        color: #333333;
        font-size: 15px;
        line-height: 42px;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.header__bottom-search {
    max-width: 360px;
    width: 100%;
    form {
        position: relative;
        input {
            display: block;
            width: 100%;
            height: 46px;
            border: 1px solid #d9dfe5;
            border-radius: 30px;
            padding: 12px 85px 12px 24px;
            &::placeholder {
                font-size: 15px;
                line-height: 30px;
                color: #898f96;
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 70px;
            background-color: $blue;
            border-radius: 30px;
            border: none;
            cursor: pointer;
        }
    }
}

// end header---------------------------------------------
//start search
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search__inner {
    min-height: 725px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 100px;
    text-align: center;
    color: #f3f3f8;
    position: relative;
    &-title {
        font-size: 60px;
        line-height: 70px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        span {
            display: block;
            font-weight: 700;
        }
    }
    &-text {
        line-height: 81px;
        font-size: 20px;
        font-weight: 500;
    }
    &-btn {
        margin-top: 39px;
        a {
            padding: 18px 30px;
            border: 1px solid #fff;
            border-radius: 30px;
            color: #fff;
            margin: 0 14px;
            &:hover {
                background-color: #f3f3f8;
                color: $blue;
                transition: all .5s;
            }
        }
    }
    &-form {
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        width: 100%;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        z-index: 3;
        form {
            height: 56px;
            display: flex;
            justify-content: space-between;
            button {
                color: #fff;
                background-color: $blue;
                border-radius: 4px;
                padding: 20px 50px;
                font-size: 16px;
                text-align: center;
                border: none;
                max-width: 222px;
                width: 100%;
                cursor: pointer;
            }
        }
    }
    &-box1,
    &-box2 {
        position: absolute;
        border-radius: 6px;
        padding: 40px;
        opacity: 0.5;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        background-color: #fff;
    }
    &-box1 {
        width: 97%;
        transform: translateY(-2%);
    }
    &-box2 {
        width: 95%;
        transform: translateY(-17%);
    }
}

.search__inner-item {
    max-width: 808px;
    width: 100%;
    position: relative;
    input {
        display: block;
        height: 100%;
        width: 100%;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        padding-left: 30px;
        padding-right: 230px;
        position: relative;
        &::placeholder {
            font-size: 16px;
            color: #676767;
        }
       
    }
    ul {
        position: absolute;
        height: 100%;
        border-left: 1px solid #dcdcdc;
        top: 0;
        right: 0;
        li{
            &::after{
            content: '\e874';
            position: absolute;
            right: 20px;
            top: 50%;
            font-weight: 500;
            transform: translateY(-50%);
            font-family: 'Linearicons-Free';
            font-size: 12px;            
            color: #676767;
             }
        }
        a {
            height: 100%;
            color: #676767;
            height: 100%;
            padding: 20px 70px 20px 20px;
        }
        
    }
}

// end search---------------------------------------------------------------
//start advantages-------------------------------------------------------------
.advantages {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;
        min-height: 710px;
    }
}

.advantages__inner-item {
    max-width: 365px;
    padding: 40px 30px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        transition: all .5s;
    }
    a {
        display: block;
    }
}

.inner-item-img {
    width: 113px;
    height: 113px;
    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.inner-item-title {
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #010101;
}

.inner-item-text {
    font-size: 16px;
    line-height: 30px;
    color: #555555;
}

//end advantages-------------------------------------------------------------
//start featured-------------------------------------------------------------
.featured{
   background-color: $gray;  
}
.featured__items{
    .featured__item{
    max-width: 100%;     
    display: flex;
    justify-content: space-between;    
    }
    .content__title{
        font-size: 24px;
        color: #000;
    }
    .featured__item-content--inner{
    max-width: 585px;
    width: 100%;   
    flex: 1 0 auto; 
    padding: 50px 50px 0 50px;
    color: #555555;
    }
    .featured__item-img{
    width: 100%;
    }
    .featured__item-content{
        padding: 0;
    }
    .auror-name{
        color: #000;
    }
    .content__category{
        padding: 40px 0px;
        a{
            padding: 6px 14px;
            background-color: #f1f3f6;
            font-size: 15px;
            color: #868c96;
            border-radius: 20px;
            &+a{
                margin-left: 7px;
            }
        }
    }
    .featured__item-stats{
        padding-left: 0;
        padding-right: 0;
    }
    .stats-price{
        background-color: $blue;
        color: #fff;
    }
    .stats-like{
        margin: 0px 20px;
    }
    .slick-active{
        max-width: 100%; 
    }
    .slick-slide{
        min-height: 434px;
    }
    .featured__item.product__item{
        display: flex !important;
    }
    .slick-arrow {
        top: -119px;        
    }


    
}



//end featured-------------------------------------------------------------
//start new-product-------------------------------------------------------------
.new-product{
    background-color: $litegray;
    &__title{
        margin-bottom: 30px;
    }
}
.new-product__title-drop{
    padding-right: 28px;
    color: #747b86;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        background-image: url(../images/icons/filter-icon.svg);
        right: 0;
        width: 5px;
        height: 20px;
        
        }        
    }
.new-product__filter{
   border-radius: 4px;
   box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
   padding: 30px;
   font-size: 15px;
   color: #747b86;
   background-color: #fff;
   margin-bottom: 50px;
   button{
      padding: 8px 20px; 
      background-color: #f1f3f6;
      border: none;
      border-radius: 30px;
      &+button{
          margin-left: 10px;
      }            
   }      
}
.new-product__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 30px;   
}
.new-product__item{
    margin-bottom: 30px;    
    &:hover .new-product__item-img--hover{
        opacity: 0.9;        
    }
}
button.mixitup-control-active{
    background-color: $blue;
    color: #fff;
}
.new-product__all-btn{
    text-align: center;
    button{
        padding: 18px 30px;        
        border-radius: 30px;
        border: none;
    }
}
.new-product__item-img--hover{   
    width: 100%;
    min-height: 230px;
    border-radius: 4px 4px 0 0;
    opacity: 0;    
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        border: 1px solid #fff;
        padding: 17px 28px;
        border-radius: 30px;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        transition: all .5s;
        &+a{
            margin-left: 10px;        }
        &:hover{
            background-color: #fff;
            color: $blue;
        }
    }
}


//end new-product-------------------------------------------------------------
// start followers
.followers{
    background-color: $gray;
    &__title{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.followers__title-btn{
    background-color: $blue;
}
.followers__slider-items{
    display: flex;
    justify-content: space-between;
}
.slick-arrow {
    border: none;
    padding: 0 0;
    position: absolute;
    top: -112px;
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
.slick-next {
    right: 53px;
}
.slick-prev {
    right: 104px;    
}
.slick-slide {   
    min-height: 534px;
}
    
.slick-active{
    max-width: 360px;
    &+.slick-active{
        margin-left: 30px;
    }
}
// end followers
// start statistic
.statistic{
    background-color: #212225;
    &__inner{
        padding: 96px 0px;
        display: flex;
        justify-content: space-between; 
        text-align: center;       
    }
    .statistic__quantity{
        margin-top: 36px;
        margin-bottom: 18px;
        font-size: 36px;
    }
    .statistic__text{
        font-size: 18px;
        color: #fff;
    }
}
.statistic__items{
    .statistic__quantity{
        color: #feb71d;
    }
}
.statistic__sales{
    .statistic__quantity{
        color: #58c9e9;
    }
}
.statistic__customers{
    .statistic__quantity{
        color: #77de51;
    }
}
.statistic__members{
    .statistic__quantity{
        color: #ff6a6d;
    }
}
// end statistic
// start reason
.reason{   
    &__inner{
        padding: 117px 0px;
        text-align: center; 
    }
}
.second__title{
    font-size: 36px;
    max-width: 710px;
    margin: 0 auto;
    text-align: center;
    
    span{
        color: $blue;
    }
    &-text{
        color: #555;
        font-size: 16px;
        line-height: 30px;
        margin-top: 19px;
    }
}
.reason__items-box{
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reason__item{
  max-width: 365px;  
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 55px 30px;
  margin-bottom: 30px;
  position: relative;
  &-number{
      position: absolute;
      font-size: 48px;
      font-weight: 300;
      color: #5c87f8;
      opacity: 0.2;
      top: 15px;
      left: 20px;
  }
  &-img{
      img{
          width: 60px;
          height: 60px;          
      }
  }
  &-title{
      margin: 39px 0 21px;
      font-size: 24px;
  }
  &-text{
      line-height: 30px;
      color: #555555;
  } 
}
// end reason
// start start
.start__inner{
    display: flex;
    justify-content: center; 
    text-align: center;  
}
.start__sell,
.start__shop{
    padding: 98px 174px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;

}
.start__title{
    margin: 43px 0px 18px;
    font-size: 36px;    
}
.start__text{
    margin-bottom: 46px;
    line-height: 30px;  
}
.start__link{   
   border-radius: 30px;
   background-color: #fff; 
}
.start__sell{
    .start__link{
        padding: 18px 28px;
        color: $blue;
    }
}
.start__shop{
    .start__link{
        padding: 18px 40px;
        color: #7347c1;
    }
}
// end start
// start feedback
.feedback__inner{
    text-align: center;
    padding: 117px 0px;    
}
.feedback__inner-items{
    margin: 58px 0px;
    display: flex;
    justify-content: space-between;
}
.feedback__item{    
        border-radius: 4px;        
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);  
        max-width: 555px;        
        padding: 48px 36px;  
        text-align: left;  
        color: #555;
        position: relative;
        &::before{
            content: '';
            height: 100%;
            width: 2px;
            background-color: $blue;
            position: absolute;
            top: 0;
            left: 0;
        }
        &-autor{   
            display: flex;             
            align-items: center; 
            padding-right: 130px; 
            margin-bottom: 21px;  
            position: relative;    
            &::after{
                position: absolute;
                content: '';
                background-image: url(../images/icons/bubble.svg);
                width: 60px;
                height: 60px;
                top: 3px;
                right: 10px;
                background-size: cover;
        
            }         
        }
        .autor__avatar{
            width: 80px;
            height: 80px;
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }    
             
    } 

.autor__data{
    margin-left: 15px;   
     
    a{
        margin-bottom: 14px;
        color: #000;
        font-size: 20px;
    }
}
.feedback__item-text{
    line-height: 30px;
}
.feedback__link{
    padding: 20px 35px;
    background-color: $blue;
    color: #fff;
    border-radius: 30px;
}
// end feedback
// start news

.news{
    background-color: $gray;
}
.news__inner-items{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.news__item-content .content__title{
    font-size: 22px;
    font-weight: 500;
}
.news__item-content .content__text{
    margin-top: 22px;
}
.news__item-stats{
    padding: 10px 30px;

    
}
.news__item-stats .stats-data{
    
        max-width: 50%;
        width: 100%;
        border-right: 1px solid #ececec;
        padding: 11px 0px;
        padding-left: 23px;
        font-size: 15px;
        color: #999999;
        position: relative;
        &::before{
            position: absolute;
            content: '\e864';
            font-family: 'Linearicons-Free';
            font-size: 15px;
            color: $blue;
            left: 0;
        }
    
}
.stats-comment,
.stats-view{
   font-size: 15px; 
   color: #7e7e7e;
   position: relative;
   padding-left: 23px;
   &::before{
       position: absolute;    
       font-family: 'Linearicons-Free';      
       left: 0;
   }
}
.stats-view{
    margin-left: 30px;
    &::before{
        content:'\e81b';         
    }
}
.stats-comment{    
    &::before{
        content:'\e83f';         
    }
}



// end news
// start advantages-bottom

.advantages-bottom__inner{
   display: flex; 
   text-align: center; 
   padding: 60px 0px;  
}
.advantages-bottom__item{
    max-width: 50%;
    width: 100%;
    &+.advantages-bottom__item{
        border-left: 1px solid #e8eaf3;
    }
}
.advantages-bottom__img{
    margin-bottom: 30px;
}
.advantages-bottom__text{
    font-size: 24px;
    span{
        color: $blue;
    }
}

// end advantages-bottom
// start join

.join__inner{
    padding: 110px 0px;
    text-align: center;
}
.join{
    &__title{
        color: #fff;
        font-size: 36px; 
    }
    &__text{
        color: #e7e7e7;
        font-size: 18px;
        margin: 23px 0 50px;
    }
    a{
       padding: 18px 42px;
       background-color: #fff;
       color: $blue;
       border-radius: 30px;
       
    }
}  
// end join
// start footer
.footer{
    color: #ababab;
    font-size: 15px;
}

.footer__inner-top{
    background-color: #262b30;
    padding: 110px 0px;
    
}
.footer__inner-items{
    display: flex;
    justify-content: space-between; 
}
.footer__contacts{
   max-width: 270px; 
   width: 100%;  
   &-title{
       width: 167px;
       height: 41px;
       img{
           height: 100%;
           object-fit: cover;
       }
   } 
   &-text{
       margin-top: 25px;
       margin-bottom: 20px;
       line-height: 28px;
   }
   &-contacts{
       li{
           padding-left: 30px;
           margin-bottom: 6px;
           position: relative;
           &::before{
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-size: cover;
           }
           a{
               line-height: 28px;
               color: #ababab;
           }           
       }
   }
}
.contacts-phone::before{
    background-image: url(../images/icons/phone-handset.svg);
   
}
.contacts-email::before{
    background-image: url(../images/icons/envelope.svg);
}
.contacts-adress::before{
    background-image: url(../images/icons/map-marker.svg);
}
.footer__about,
.footer__help{
    max-width: 160px;
    width: 100%;
}
.footer-title{
    font-size: 18px;
    color: #fff;
    min-height: 41px;
    padding-top: 15px;
}
.footer-link{
    margin-top: 30px;
    li{
        margin-bottom: 15px;
        display: block;
        a{
            color: #ababab;;
        }
    }
}
.footer__news{
    max-width: 363px;
    width: 100%;
    &-text{
        margin-top: 30px; 
        margin-bottom: 25px;
        line-height: 28px;
    }
    input{
        width: 100%;
        padding: 16px 125px 16px 29px;
        border-radius: 30px;
        border: none;
        &::placeholder{
            font-size: 15px;
            color: #ababab;
        }
    }

    form{
        position: relative;
        margin-bottom: 45px;
        button{
        background-color: $blue;
        border: none;
        color: #fff;    
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 30px;
        height: 100%;
        padding: 0 30px;
         }
    }    
}
.footer__news-social{
    li+li{
        margin-left: 8px;
    }
    a{
        width: 42px;
        height: 42px;
        border-radius: 50%;    
        position: relative;
        &::before{
            position: absolute;           
            font-size: 16px;
            color: #fff;
            font-family: 'icomoon';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);      
        }
    }
    .faceboock{
        background-color: #395799;
        &::before{
            content: "\f09a";
        }
    }
    .twitter{
        background-color: #19b2f5;
        &::before{
            content: "\f099";
        }
    }
    .google{
        background-color: #f05b44;
        &::before{
            content: "\f1a0";
        }
    }
    .pinterest{
        background-color: #9c0c1c;
        &::before{
            content: "\f0d2";
        }
    }
    .linkedin{
        background-color: #0e9fb6;
        &::before{
            content: "\f0e1";
        }
    }
    .dribbble{
        background-color: #ea4c89;
        &::before{
            content: "\f17d";
        }
    }
}

    .footer__inner-bottom{
        background-color: #192027;
        text-align: center;
    }
    .footer__bottom-text{
      padding: 38px 0; 
      span{
          color: #fff;
      }
    }

// end footer
// start sm-search
.sm-search{
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.sm-search__top{
    padding-top: 85px;
    padding-bottom: 30px;
    text-align: center;
    &-title{
        margin-bottom:30px;
        font-size: 26px;
        color: #f3f3f8;
        span{
        font-weight: 500;
        }        
    } 
    form{
        position: relative;
        max-width: 555px;
        margin: 0 auto;
        margin-bottom: 35px;
        input{
            padding: 22px 130px 22px 30px; 
            width: 100%;
            border: none;
            border-radius: 40px;
            color: #747b86;
            font-size: 15px;
            &::placeholder{
                font-size: 15px;
                color: #747b86;
            }
        }
        button{
            position: absolute;
            height: 100%;
            background-color: $blue;
            color: #fff;
            border: none;
            padding: 0px 29px;
            border-radius: 40px;
            right: -1px;
            cursor: pointer;
        }
    }     
}
.sm-search__bottom{
    background-color: #fff;        
    &-inner{
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
}
.filter__products{
    .active{
        color: $blue;
    }
    button{
        color: #555555;
        border: none;
        background-color: transparent;
        cursor: pointer;       
        &+button{
            margin-left: 38px;            
        }
    }
}
.filter__style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>button{
        font-size: 14px;
        color: #747b86;
        background-color: transparent;
        border: 1px solid #eceff2;
        border-radius: 3px;
        padding: 13px 83px 13px 15px;
        cursor: pointer;
        position: relative;
        &::after{
            position: absolute;
            content: '\e874';
            font-family: 'Linearicons-Free';
            font-size: 10px;
            color: #555555;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
        span{
            color: #555555;
        }
        &+button{
            margin-left: 29px;
        }
    }    
}
.filter__style-form{
    margin-left: 29px;
    border: 1px solid #eceff2;
    border-radius: 3px;
    padding: 9px 19px;

    &>button{
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:focus{
            outline: none;
        }
        &+button{
            margin-left: 13px;
        }
    }
}
.style-grid,
.style-list{
    path{
        fill: #adb1b8;
    }
    &.active{
        path{
            fill: $blue;
        }        
    }
}
// end sm-search
//start category-page
.category-page{
    background-color: $gray;   
    &__inner{
        padding-top: 80px;
        padding-bottom: 120px;
        display: flex;
        justify-content: space-between;
    }
}
.category-page__aside{
    max-width: 263px;
    width: 100%;
    margin-right: 30px;
}
.aside__item{
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 29px;
    padding: 30px 30px 35px 30px;
    .aside__title{
        color: #010101;
        font-size: 20px;
        padding-bottom: 25px;        
        border-bottom: 1px solid #e7ebee;
        display: flex;
        justify-content: space-between;
        button{
            font-size: 12px;
            color: #555555;
            background-color: transparent;
            border: none;
        }
    }
    .aside__list{
        margin-top: 30px;
        li{
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            color: #555555;
            position: relative;            
            &+li{
                margin-top: 20px;
            }
            a{
                font-size: 15px;
                color: #555555;
                cursor: pointer;
            }  
            span{
                padding-left: 10px;
            }           
        }
    }
}
.aside__categories{
    li{
        a{
             &::before{
                position: absolute;
                content: '\e876';
                font-size: 10px;
                left: 0;
                color: #747b86;
                font-family: 'Linearicons-Free';
                top: 50%;
                transform: translateY(-50%);
             }
            &.active{
             color: $blue;
            } 
        }
    }
}
.aside__filter{
    li{
        a{
             &::before{
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                background-color: #fff;
                border: 1px solid #7b818c;
                border-radius: 50%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                }
            &.active{
                color: $blue;
            }
        }  
    }    
}    
.aside__range{
    text-align: center;
    .irs--flat {
        margin-top: 8px;
    }
    .irs--flat .irs-line {        
        height: 6px;
        background-color: #efedf3;        
    }
    .irs--flat .irs-bar {
        height: 6px;
        background-color: #7347c1;
    }
    .irs--flat .irs-handle {
        top: 19px;
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 50%;
        border: 4px solid $blue;
    }
    .irs--flat .irs-max, .irs--flat .irs-min {
        display: none;
    }
    .irs--flat .irs-handle>i:first-child {        
        background-color: transparent;
    }   
    .irs-from, .irs-single, .irs-to {
        display: none;
    }
    .range-input{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 30px;
        input{
            max-width: 80px;
            height: 32px;
            text-align: center;
            border: none;
            background-color: #f1ecf9;
            border-radius: 30px;
            font-size: 15px;
            color: #7347c1;
        }        
    }
    a{
       padding: 15px 30px;
       color: #fff;
       background-color: $blue; 
       font-weight: 500;
       font-size: 15px;
       border-radius: 30px;
    }
}
.category-page__content{
    width: 100%;    
}  
.category-page__content-inner{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

.category-page__item{
    max-width: 263px; 
    margin-bottom: 30px;  
    &-img{
        min-height: 160px;
    }
    &-content{
        padding: 18px 18px 15px 18px;
    }
    .content__title{
        font-size: 18px;
    }
    .content__autor{
        padding-bottom: 18px;
    }
    .stats__inner{
        display: flex;
        justify-content: space-between;
    }
    .stats-cell{
        padding-left: 25px;
        position: relative;
        font-size: 15px;
        color: $blue;
        &::before{
            content: '\e82e';
            position: absolute;
            left: 0;                
            font-family: 'Linearicons-Free';
        }            
    }
    .category-page__item-stats{
        padding: 16px 18px;
    }
    .stats-price{
        margin-right: auto;
    }
    .autor-category{
        margin-left: 4px;
        color: #7347c1;
    }
}
.pagination{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    &__list{
        li{
            &+li{
                margin-left: 5px;
            }
            &:first-child{
                margin-right: 15px;
            } 
            &:last-child{
                margin-left: 15px;
            }
            a{
                padding: 13px 22px;
                background-color: #fff;
                border-radius: 20px ;
                font-weight: 500;
                color: #747b86;
                transition: all .5s;
                &.active{
                    background-color: $blue;
                    color: #fff;
                }
            } 
            &.pagination-btn:hover{                
                a{
                    background-color: #7347c1;
                    color: #fff;
                }
            } 
        }        
    }
}



//end category-page
