@import 'global';
@import 'var';
// start header--------------------------------------------
.header__top {
    background-color: #eef1f3;
    height: 100px;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }
}

.header__logo {
    margin-left: 7px;
    margin-right: auto;
    width: 200px;
    height: 50px;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }
}

.header__join {
    padding: 4px 17px;
    background-color: $blue;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.header__user {
    margin-left: 218px;
    display: flex;
    &-avatar {
        width: 50px;
        height: 50px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }
    &-info {
        margin-left: 20px;
        line-height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.user-info__name {
    font-size: 16px;
    color: #333333;
}

.user-info__balance {
    font-size: 15px;
    color: #0674ec;
}

.header__bottom-inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-menu__list {
    & li+li {
        margin-left: 32px;
    }
    a {
        color: #333333;
        font-size: 15px;
        line-height: 42px;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.header__bottom-search {
    max-width: 360px;
    width: 100%;
    form {
        position: relative;
        input {
            display: block;
            width: 100%;
            height: 46px;
            border: 1px solid #d9dfe5;
            border-radius: 30px;
            padding: 12px 85px 12px 24px;
            &::placeholder {
                font-size: 15px;
                line-height: 30px;
                color: #898f96;
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 70px;
            background-color: $blue;
            border-radius: 30px;
            border: none;
        }
    }
}

// end header---------------------------------------------
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search__inner {
    min-height: 725px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 100px;
    text-align: center;
    color: #f3f3f8;
    position: relative;
    &-title {
        font-size: 60px;
        line-height: 70px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        span {
            display: block;
            font-weight: 700;
        }
    }
    &-text {
        line-height: 81px;
        font-size: 20px;
        font-weight: 500;
    }
    &-btn {
        margin-top: 39px;
        a {
            padding: 18px 30px;
            border: 1px solid #fff;
            border-radius: 30px;
            color: #fff;
            margin: 0 14px;
            &:hover {
                background-color: #f3f3f8;
                color: $blue;
            }
        }
    }
    &-form {
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        width: 100%;
        padding: 40px;
        background-color: #fff;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        z-index: 5;
    }
}

.search__inner-form--box1,
.search__inner-form--box2 {
    position: absolute;
    height: 100%;
    width: 98%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-7%);
    background-color: #fff;
    border-radius: 6px;
    // opacity: 0.502;
}

.search__inner-form--box1 {
    z-index: 3;
    background-color: #000;
}

.search__inner-form--box2 {
    z-index: 4;
}